# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# mypy / ruff
.mypy_cache/
.ruff_cache/

# Environments
.env
.env.local
